:root {
    --dark-blue-100: #c460d4;
    --dark-blue-200: #8435a9;
    --dark-blue-300: #710a68;
    --dark-blue-400: #4f0761;
    --dark-blue-500: #3c0551;

    --light-blue-100: #faf3fc;
    --light-blue-200: #faeff9;
    --light-blue-300: #f2e9f8;
    --light-blue-400: #d5aad3;
    --light-blue-500: #ad75b2;

    --gray-100: #d8ceda;
    --gray-200: #bbadbd;
    --gray-300: #968692;
    --gray-400: #544957;
    --gray-500: #3c3440;

    --white: #932d7d2d;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    width: 100vw;
    height: 100vh;
    background-color: var(--light-purple-100);
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.principal {
    display: flex;
    flex-direction: column;
}

header {
    margin-bottom: 80px;
}

.logo {
    padding-left: 20px;
    padding-right: 20px;
}

main {
    padding: 0 2rem;
    display: flex;
    align-items: start;
    flex-direction: column;
}

main textarea {
    width: 680px;
    height: 18.75rem;
    padding: 1rem;
    font-family: "Inter", "sans-serif";
    font-size: 2rem;
    font-weight: 400;
    line-height: 150%;
    background: transparent;
    color: var(--dark-blue-300);
    border: none;
    outline: none;
    resize: none;
    text-align: lowercase;
}

main textarea {
    max-width: 600px;
    max-height: 560px;
    background: var(--white);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 10px;
    box-shadow: 0px 24px 32px -8px rgba(74, 15, 106, 0.179);
}

main textarea::placeholder {
    font-size: 2rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--dark-blue-300);
}

.info {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: .75rem;
    padding: 1rem 0;
}

.info img {
    width: 16px;
    height: 16px;
}

.acoes {
    display: flex;
    gap: 24px;
}

aside {
    max-width: 400px;
    max-height: 560px;
    background: var(--white);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 10px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

aside img {
    width: 336px;
    height: auto;
    padding: 0 2rem;

}

aside h2 {
    font-weight: 700;
    color: var(--gray-500);
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 120%;
    padding: 0 2rem;

}

aside p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    color: var(--gray-400);
    padding: 0 2rem;

}


#copiar {
    margin-bottom: 2rem;
}

#resultado {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--dark-400);
    padding: 0 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.button {
    font-size: 1rem;
    line-height: 1.2;
    font-weight: 400;
    text-align: center;
    padding: 24px;
    width: 198px;
    height: 68px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: var(--dark-blue-300);
    color: var(--light-blue-100);
}

.desabilitado {
    background: var(--light-blue-300);
    color: var(--gray-500);
    cursor: not-allowed;
}

.criptografar,
.descriptografar {
    background: var(--dark-blue-400);
    color: var(--white);
}

.criptografar:hover {
    background: var(--dark-blue-300)
}

.descriptografar {
    background-color: #e4d6e3;
    color: var(--dark-blue-300);
    border: 1px solid var(--dark-blue-200);

}

.descriptografar:hover {
    background: var(--dark-blue-300);
}

.copiar {
    background: var(--white);
    color: var(--dark-blue-300);
    border: 1px solid var(--dark-blue-300);
    margin: 0 14px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 15px;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--light-blue-100);
    padding: 10px;
}

.criador {
    font-size: 18px;
    margin-bottom: 5px;
}

.usuario {
    color: #3b0a4b39;
    font-style: italic;
}

.links {
    width: 40px;
    margin-bottom: -9.5px;
}